{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block logo_mini %}
    <img src="{{ asset('build/logo_small.png') }}" width="40" />
{% endblock %}

{% block logo_large %}
    <img src="{{ asset('build/logo.png') }}" width="100" />
{% endblock %}

{% block page_title %}
	Nueva Solicitud
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="panel-content">
						<p class="text-center"><strong>Anexo 1</strong></p>
                        <p class="text-center"><strong>FORMATO DE SOLICITUD PARA DESEMPEÑARLA FUNCIÓN DE TUTOTÍA EN EDUCACIÓN {{ nivel|upper }}</strong></p>
                        <p class="text-center"> CICLO ESCOLAR 2019-2020</p>
                        <p class="text-justify"> Este formulario tiene el propósito de contar con los datos generales del aspirante e identificar si cumple con los requisitos correspondientes a la función de tutotía</p>
                        <p>Entidad Federativa: <strong>Puebla</strong></p>
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(form.apellidoPaterno) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.apellidoMaterno) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.nombre) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(form.curp) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.rfc) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(form.telefonoFijo) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.telefonoCelular) }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Domicilio</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.idEntidadFederativa) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.idMunicipioEntidadFederativa) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    {{ form_row(form.calle) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.noExterior) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.noInterior) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    {{ form_row(form.colonia) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.codigoPostal) }}
                                </div>
                            </div>
                            <a class="btn btn-danger" href="{{ path("home") }}">Cancelar</a>
                            <button class="btn">{{ button_label|default('Continuar') }}</button>
                        {{ form_end(form) }}
                        <div class="ajax-results">
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts_page %}
    <script>
        $('#solicitud_usuario_idEntidadFederativa').change(function () {
            var citySelector = $(this);
            //console.log(citySelector.val());
            // Request the neighborhoods of the selected city.
            $.ajax({
                url: "{{ path('get-municipios') }}",
                type: "POST",
                dataType: "json",
                data: {
                    "cityid": citySelector.val()
                },
                success: function (data) {
                    //console.log(data);
                    var neighborhoodSelect = $("#solicitud_usuario_idMunicipioEntidadFederativa");

                    // Remove current options
                    neighborhoodSelect.html('');
                    
                    // Empty value ...
                    neighborhoodSelect.append('<option value> Seleccione un municipio de ' + citySelector.find("option:selected").text() + ' ...</option>');
                    
                    
                    $.each(data, function (key, data) {
                        neighborhoodSelect.append('<option value="' + data.id + '">' + data.nombre + '</option>');
                    });
                },
                //error: function (data) {
                    //alert("An error ocurred while loading data ...");
                    //$('div.ajax-results').html(data.responseText);
                //}
            });
        });
    </script>
{% endblock %}